<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b> <%= current_user.name %>! </b> <%= link_to "Logout", logout_path %></p>
    <% end %>
    <%= flash_messages %>
    <%= yield %>
  </body>

    <%= render "shared/footer" %>


</html>
